<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="IoTAgent" switchValue="Information">
        <listeners>
          <add name="AgentListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="AgentListener"  type="System.Diagnostics.TextWriterTraceListener" initializeData="D:/log/IoTAgent/IoTAgentService.log" />
      <add name="ThingworxListener"  type="System.Diagnostics.TextWriterTraceListener" initializeData="D:/log/IoTAgent/IoTAgentThingworx.log" traceOutputOptions="DateTime" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="configpath" value="\PresetOnCloud\IoTAgent\IoTAgentConfig.json" />
  </appSettings>
</configuration>